<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Map</title>
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" /> -->
</head>
<body>
  <div id="map"></div>
  <div class="filters">

  </div>
</body>
</html>