<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Map</title>
   <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
</head>
<body>
  <div id="map"></div>
  <div id="filters"></div>
</body>
</html>